<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Forecast Finder</title>
  <link rel="stylesheet" href="static/css/style.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body class="bg-dark">
  <div class="forecast__body1">
  <div class="container my-5 ">
    <div class="navbar">
      <form class="d-flex" role="search" action="/" method="get">
        <div class="input-group">
          <input class="form-control color-secondary text-white bg-dark" type="search" placeholder="Search for a city text" aria-label="Search" name="city" />
          <button class="btn btn-outline-secondary" type="submit">
            <i class="fa-solid fa-magnifying-glass color-secondary"></i>
          </button>
        </div>
      </form>
    </div>
    <div class="forecast__body  text-center">
      <h1 class="forecast__city text-large">
        {{location[0].name}} {{ location[0].state }}, {{location[0].country}}
      </h1>
      <p class="forecast__datetime text-large">{{ time }}</p>
    </div>
    <div class="forecast text-center">
      <p>{{ weather.weather[0].description }}<br></p>
    </div>
    <div class="forecast__icon text-center">
      <img src="http://openweathermap.org/img/w/{{ weather.weather[0].icon }}.png"/>
    </div>
    <p class="forecast__temperature text-center text-white mt-xxl-5 mb-0 "> {{ weather.main.temp}}&#176 </p>
    <div class="forecast__minmax d-flex justify-content-center text-white mt-sm-0">
      <p>Min {{ weather.main.temp_min }}&#176</p>
      <p> Max {{ weather.main.temp_max }}&#176</p>
    </div>
    <div class="cards d-flex mt-sm-5 justify-content-between gap-1" id="weather-cards">
      <div class="card">
        <h2 class="day-name text-white">{{ day[0] }}</h2>
        <div class="card-icon">
          <img src="http://openweathermap.org/img/w/{{ forecast.list[7].weather[0].icon }}.png" alt="" />
        </div>
        <div class="day-temp text-white">
          <h2 class="temp">Min {{ temp[0][day[0]] }}&#176c Max {{temp[1][day[0]] }}&#176c</h2>
        </div>
      </div>
      <div class="card">
        <h2 class="day-name text-white">{{ day[1] }}</h2>
        <div class="card-icon">
          <img src="http://openweathermap.org/img/w/{{ forecast.list[15].weather[0].icon }}.png" alt="" />
        </div>
        <div class="day-temp text-white">
          <h2 class="temp">Min {{ temp[0][day[1]] }}&#176c Max {{temp[1][day[1]] }}&#176c</h2>  
        </div>
      </div>
      <div class="card">
        <h2 class="day-name text-white">{{ day[2] }}</h2>
        <div class="card-icon">
          <img src="http://openweathermap.org/img/w/{{ forecast.list[23].weather[0].icon }}.png" alt="" />
        </div>
        <div class="day-temp text-white">
          <h2 class="temp">Min {{ temp[0][day[2]] }}&#176c Max {{temp[1][day[2]] }}&#176c</h2>
        </div>
      </div>
      <div class="card">
        <h2 class="day-name text-white">{{ day[3] }}</h2>
        <div class="card-icon">
          <img src="http://openweathermap.org/img/w/{{ forecast.list[31].weather[0].icon }}.png" alt="" />
        </div>
        <div class="day-temp text-white">
          <h2 class="temp">Min {{ temp[0][day[3]] }}&#176c Max {{temp[1][day[3]] }}&#176c</h2>
        </div>
      </div>
      <div class="card">
        <h2 class="day-name text-white">{{ day[4] }}</h2>
        <div class="card-icon">
          <img src="http://openweathermap.org/img/w/{{ forecast.list[39].weather[0].icon }}.png" alt="" />
        </div>
        <div class="day-temp text-white">
          <h2 class="temp">Min {{ temp[0][day[4]] }}&#176c Max {{temp[1][day[4]] }}&#176c</h2>
        </div>
      </div>
    </div>
  </div>
</div>
  <script src="https://kit.fontawesome.com/75b734d5ae.js" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>

